.wrapper {
}

.connect-wallet {
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    position: relative;
    min-width: 20rem;

    padding: 1.5rem 3rem;
    color: var(--text-color);
    &.scrolled {
        color: var(--text-color);
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

/* wallet-short-begin*/
.wallet-short {
    position: absolute;
    left: 0;
    top: 120%;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color);
    width: 100%;

    &.scrolled {
        color: var(--text-color);
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

.wallet-short-container {
    align-items: center;
    border-bottom: 0.5px solid;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    filter: brightness(1);
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-start;
    line-height: 150%;
    min-height: 64px;
    outline: none;
    padding: 8px 24px;
    text-overflow: ellipsis;
    transition-duration: 125ms;
    transition-property: background-color, color, filter;
    align-items: center;
    gap: 10px;
}

.wallet-short-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.wallet-short-name {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    align-items: center;
}

/* wallet-short-end */

/* wallet-connected-begin */
.connected-wallet-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* wallet-connected-end */

/* show-wallet-begin*/
.show-wallet-wrapper {
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text-color);
    overflow: hidden;
    width: 40rem;

    &.scrolled {
        color: var(--text-color);
        background-color: var(--secondary-color);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

.show-wallet-item {
    align-items: center;
    border-bottom: 0.5px solid;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    filter: brightness(1);
    font-size: 14px;
    font-weight: 600;
    justify-content: flex-start;
    line-height: 150%;
    min-height: 64px;
    outline: none;
    padding: 8px 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition-duration: 125ms;
    transition-property: background-color, color, filter;
    align-items: center;
    gap: 10px;
}

.show-wallet-name {
    font-weight: 400;
}

.show-wallet-description {
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.show-wallet-icon {
    font-size: 25px;
}
/* show-wallet-end*/

/* wallet-long-begin*/
.wallet-long-wrapper {
    width: 448px;
    background: var(--secondary-color);
    z-index: 50;
    border-radius: 4px;
}

.wallet-long-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.wallet-long-title {
    font-weight: bold;
    font-size: 20px;
}

.wallet-long-close {
    font-weight: bold;
    font-size: 20px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
        background: rgba(0, 0, 0, 0.06);
    }
}

.wallet-long-list {
    padding: 8px 24px 40px;
    overflow-y: auto;
}

.wallet-long-content {
    width: 400px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 13px 0px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}
.wallet-long-image {
    height: 40px;
    width: 40px;
    z-index: 200;
    background: transparent;
    padding: 2px;
    border-radius: 4px;
}
.wallet-long-name {
    margin-left: 16px;
    font-size: 18px;
    font-weight: 700;
}
/* wallet-long-end*/

/* wallet-notification-begin */

.wallet-download {
    background-color: var(--secondary-color);
    border-radius: 4px;
    color: var(--white-color);
    box-shadow: 0px 60px 24px rgba(23, 23, 20, 0.01), 0px 34px 20px rgba(21, 21, 18, 0.02), 0px 15px 15px rgba(26, 26, 22, 0.03),
        0px 4px 8px rgba(20, 20, 16, 0.04), 0px 0px 0px rgba(32, 32, 27, 0.04);

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    left: 50%;
    max-height: 85vh;
    width: 90vw;
    max-width: 576px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 2.4rem;
}

.nowallet-content {
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 175%;
        color: var(--white-color);
        overflow-wrap: anywhere;
        white-space: pre-wrap;
        padding-top: 2.4rem;
    }
}
.nowallet-button {
    align-items: center;
    bottom: 0;
    display: flex;
    gap: 16px;
    height: auto;
    justify-content: flex-end;
    left: 0;
    position: sticky;
    right: 0;
    .button {
        display: block;
        flex-shrink: 0;
        color: var(--white-color);
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 16px;
        line-height: 1.5;
        font-size: 1.6rem;
        text-transform: uppercase;
        &.button-ok {
            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }

        &.button-cancel {
            &:hover {
                background: #ae2726;
            }
        }
    }
}

/* wallet-notification-end*/
