.wrapper {
    padding: 100px 0;
    background: #4a28a9;
}

@media (min-width: 1230px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        width: 1200px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
