.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: -5px;
        background: inherit;
        filter: blur(10px);
        border: 4px;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s;
    }
    &:hover::after {
        opacity: 1;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: #281266;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

@media (max-width: 768px) {
}
