.wrapper {
    margin-top: 500px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    padding: 1.8rem 4rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    user-select: none;
    color: var(--white-color);
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: #281266;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
