@import "@/styles/layouts.scss";

.wrapper {
    perspective: 100rem;
}

//
.flip-card {
    position: relative;
    transform-style: preserve-3d;
    perspective: 700rem;
    width: 100%;
}

.inner {
    display: flex;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.4, 0.2, 0.2, 1);
    background: var(--primary-color);
    padding: 30px;
}

.flip-card-front {
    transform: rotateY(0deg);
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.flip-card-back .inner {
    width: 80%;
    height: 65%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(80px) scale(0.94);
    z-index: 2;
}
.flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
}

.service-icon {
    display: inline-block;
    color: #737373;
    height: 52px;
    width: 52px;
    flex-shrink: 0;
}

.service-image {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.4s ease 0s;
}

.service-detail-front {
    margin-left: 1.8rem;
    font-weight: 400;
}

.service-detail-back {
    width: 100%;
    font-weight: 400;
}

.service-title {
    font-weight: 400;
    font-size: 20px;
    margin: 5px 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--white-color);
}

.service-subtitle {
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    color: var(--white-color);
}

.service-detail-front .service-subtitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

@media (max-width: 1100px) {
    .flip-card-front .inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service-icon {
        margin-bottom: 1.2rem;
    }
}
