.wrapper {
    background: var(--linear-background-member);
    border-radius: 0.4rem;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

.inner {
    text-align: center;
    padding: 4.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.image-container {
    width: 158px;
    height: 158px;
    border: 5px solid var(--blue-color);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    flex-shrink: 0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset: -2px;
        background: inherit;
        filter: blur(4px);
        z-index: -1;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infomation {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    line-height: 2.4rem;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: inline-block;
}

.social-media-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: center;
}

.social-media-icon {
    font-size: 1.85rem;
    color: var(--gray-color);
}
