@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
    --blue-fade-color: #1c82ad;
    --gray-color: #eeeeee;
    --blue-color: #01e8fe;
    --dark-color: #020331;
    --primary-color: #ffdb24;
    --secondary-color: hsl(256, 62%, 41%);
    --white-color: #ffffff;
    --text-color: #323232;
    --font-family: "Rubik", sans-serif;
    --linear-background: linear-gradient(45deg, #00337c, #1c82ad, #a2b7d6);
    --linear-background-member: linear-gradient(45deg, #00337c, #1c82ad, #00337c);

    // Admin themes
    --admin-primary-color: #202b40;
    --admin-secondary-color: #192132;
    --admin-active-nav-item-color: #313e59;
    --admin-border-color: #26334d;
    --admin-card-color: #26334d;
    --admin-text-color: #c2c9d6;
    --admin-hovered-background-color: rgba(105, 122, 155, 0.2);
    --admin-separate-color: #384766;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--dark-color);
    color: var(--white-color);
    font-family: var(--font-family);
    overflow-x: hidden;
    overflow-y: overlay;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
    color: var(--white-color);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0.5rem;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-primary);
    background: #c2c2c2;
}

html *::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
}

// Custom react slick

.slick-arrow {
    &::before {
        display: none;
    }
}

.arrow-icon {
    color: var(--white-color);
    width: 40px;
    height: auto;
    opacity: 0;
    transition: all 0.3s;
}

.slick-slider {
    position: relative;

    &:hover .arrow-icon {
        opacity: 1;
    }
}

.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(50%);
    color: var(--white-color);
}

.slick-arrow.slick-next {
    right: 50px;
}

.slick-arrow.slick-prev {
    left: 50px;
}

@media screen and (max-width: 1360px) {
    .arrow-icon {
        display: none;
    }
}
