@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
    --primary-color: #412394;
    --secondary-color: #4a28a9;
    --white-color: #ffffff;
    --text-color: #01e8fe;
    --font-family: "Rubik", sans-serif;
    // responsive breakpoints
    --sm: 576px;
    --md: 768px;
    --lg: 991px;
    --xl: 1199px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background: var(--primary-color);
    color: var(--white-color);
    font-family: var(--font-family);
    overflow-x: hidden;
    overflow-y: overlay;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

input,
textarea {
    border: none;
    outline: none;
}
