@import "@/styles/layouts.scss";
/* team-begin */
.team-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.team-container {
    @extend .container;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27.7rem, 1fr));
    gap: 3rem;
}

/* team-end*/
