@import "@/styles/layouts.scss";

/* banner-begin */
/* banner-end */

.title-wrapper {
    @extend .container;
}
/* about-begin */
.about-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: var(--primary-color);
}
/* about-end*/

/* service-begin */
.service-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.service-container {
    --gap: 3rem;
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

/* service-end */

/* token-sale-begin */

.token-sale-wrapper {
    background: url("../../assets/images/background/token-sale-bg.png") no-repeat scroll 0 0 #3d1f94;
}

/* token-sale-end */

/* roadmap-begin */

.roadmap-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: url("../../assets/images/background/roadmap-bg.png") no-repeat scroll center 0;
}

/* roadmap-end */

/* team-begin */
.team-wrapper {
    @extend .container;

    padding-top: 10rem;
    padding-bottom: 10rem;
    background: url("../../assets/images/background/team-bg.png") no-repeat scroll 0 0 #3d1f94;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24.7rem, 1fr));
    gap: 3rem;
}

/* team-end*/

/* faqs-begin */
.faqs-wrapper {
    overflow: hidden;
}
/* faqs-end */

/* contact-begin */
.contact-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: url("../../assets/images/background/contact-bg.png") no-repeat scroll 0 0 #3d1f94;
}

/* contact-end */
