@import "@/styles/layouts.scss";
// Header.tsx
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    .connect-wallet-button {
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
    }

    &.scrolled {
        backdrop-filter: blur(10px);
        background: var(--primary-color);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

.wrapper {
    @extend .container;
}

.nav-right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    transition: all 200ms linear;
}

.header.scrolled .wrapper-inner {
    padding: 25px 0;
}

// HeaderOptions.tsx
.nav-list {
    display: flex;
    list-style-type: none;
}

.connect-wallet-button {
    background-color: #311973;
}

@media (max-width: 991px) {
    .nav-list {
        display: none;
    }

    .logo {
        max-width: 200px;
    }
}

@media (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .logo {
        max-width: 160px;
    }

    .connect-wallet-button {
        display: none;
    }
}
