@import "@/styles/layouts.scss";

.wrapper {
    @extend .container;
    overflow: hidden;
}

.fags {
    padding: 10rem 0;
}

.tab-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-inner {
    width: 85%;
    margin: 0 auto;
}

.tab-item-wrapper {
    padding: 0 1rem;
}

.tab-item {
    display: block;
    border: 2px solid var(--white-color);
    background: transparent;
    color: #fff !important;
    padding: 1rem 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 400;
    &.tab-item-active {
        border: 2px solid var(--white-color);
        background: var(--white-color);
        color: var(--text-color) !important;
    }
}

.accordion-list {
    width: 100%;
}

.answer {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 12px;
}

.accordion-item {
    background: var(--white-color);
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    transition: all 500ms;
    color: var(--text-color);
    &.accordion-item-active {
        overflow: hidden;
        opacity: 0.8;

        .answer {
            display: block;
            animation: expandHeight 1000ms linear forwards;
        }
    }
}

@keyframes expandHeight {
    from {
        max-height: 0;
    }
    to {
        max-height: 50rem;
    }
}

.question {
    font-size: 2rem;
    padding-right: 2.5rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 18px;
        width: 4px;
        background: var(--text-color);
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 18px;
        width: 4px;
        background: var(--text-color);
        transform: rotate(90deg);
    }
}

.accordion-item-active .question::before {
    display: none;
}

@media (max-width: 991px) {
    .tab-list {
        width: 100%;
        flex-direction: column;
    }
    .tab-item-wrapper {
        width: 100%;
    }
    .tab-item {
        width: 100%;
    }

    .tab-item {
        border: 2px solid transparent;

        &.tab-item-active {
            border: 2px solid var(--white-color);
            background: var(--white-color);
        }
    }
    .wrapper-inner {
        width: 100%;
    }
}
