.wrapper {
    background: url("../../assets/images/background/categories-bg.jpg") center center / cover no-repeat fixed;

    &:after {
        background: url("../../assets/images/background/categories-bg.jpg") center center / cover no-repeat fixed;
        content: "";
        position: absolute;
        inset: 0px;
        opacity: 1;
        z-index: -1;
    }
}
