@import "@/styles/layouts.scss";
// Header.tsx
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &.scrolled {
        background: #412394;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

.wrapper {
    @extend .container;
}

.wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    transition: all 200ms linear;
}

.header.scrolled .wrapper-inner {
    padding: 25px 0;
}

// HeaderOptions.tsx
.nav-list {
    display: flex;
    list-style-type: none;
}



@media (max-width: 991px) {
    .nav-list {
        display: none;
    }
}
