.wrapper {
    margin-top: 1.6rem;
}

.table-wrapper {
    min-width: 100%;
    overflow-x: hidden;
}

.table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    color: rgb(194, 201, 214);
    font-size: 1.4rem;
}

.table-header-title {
    white-space: nowrap;
    background-color: #202b40;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4;
    &:first-child {
        border-top-left-radius: 0.8rem;
    }
    &:last-child {
        border-top-right-radius: 0.8rem;
    }
}

.table-row {
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgb(56, 71, 102);
    background-color: #26334d;

    &:last-child {
        border-color: transparent;
        .table-column:is(:first-child, :last-child) {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }
}

.table-column {
    white-space: nowrap;
    padding: 1.2rem 1.6rem;
}

.table-column-content {
    font-weight: 400;
    font-size: 1.4rem;
    color: rgb(194, 201, 214);
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-column-actions {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    letter-spacing: 0.025em;
    text-align: center;
    transition-property: all 200ms ease;
    color: #313e59;
    background-color: #26334d;

    &:hover,
    &:active,
    &:focus {
        background: #6b728020;
    }
}

.icon-ellipsis {
    width: 2rem;
    height: 2rem;
    color: rgb(194, 201, 214);
}

// sm
@media (min-width: 640px) {
    .wrapper {
        margin-top: 1.25rem;
    }
    .table-column {
        padding: 1.2rem 2rem;
    }
}

// lg
@media (min-width: 1024px) {
    .wrapper {
        margin-top: 2.4rem;
    }
    .table-header-title {
        padding: 1.2rem 2rem;
    }
}
