.wrapper {
    padding: 1.5rem;
    background: var(--secondary-color);
    border-radius: 0.5rem;
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.button {
    background: transparent;
}

.icon {
    color: var(--text-color);
    font-size: 1.8rem;
}

.add-content {
    margin: 2rem;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    border-radius: 5px;
}

.add-left {
    align-self: flex-start;
}

.add-right {
    padding: 3rem 0;
    width: 100%;
    background: var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

.add-icon {
    font-size: 10rem;
}
