@import "@/styles/layouts.scss";

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.wrapper {
    @extend .container;
    padding-top: 13.95rem;
}

.banner-inner {
    display: flex;
}

.branner-background {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 50%;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.banner-image-wrapper {
    width: 50%;
    animation: bounce 2s infinite;
}

.branner-image {
    width: 100%;
    object-fit: cover;
    height: auto;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(-3%);
        animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.banner-title {
    font-size: 4rem;
    text-transform: uppercase;
}

.banner-title-up {
    font-weight: 400;
    margin-bottom: 1rem;
}

.banner-title-down {
    font-weight: 700;
}
.banner-intro {
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.banner-button {
    width: fit-content;
    padding: 1.8rem 4rem;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #281266;
    }
}

@media (max-width: 991px) {
    .wrapper {
        padding-top: 10rem;
    }
    .banner {
        height: fit-content;
        position: relative;
    }
    .banner-inner {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
        padding-right: 0;
    }

    .banner-image-wrapper {
        width: 100%;
        padding-bottom: 2rem;
    }
}
